Source: pyqonsole
Section: python
Priority: optional
Maintainer: Alexandre Fayolle <afayolle@debian.org>
Build-Depends: debhelper (>= 4.0.0), python, python-dev
Standards-Version: 3.6.2

Package: pyqonsole
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-qt
Recommends: ipython
Description: console program written in Python
 Pyqonsole is a X Window terminal written in Python. The code is based
 on konsole, and it uses the qt toolkit. It is mainly meant for use by
 Python application developpers who would like to embed a terminal in
 their application, but it can be used as a not blazingly fast XTerm
 replacement.
 .
 homepage: http://www.logilab.org/projects/pyqonsole/
